requests>=2
importlib-metadata;python_version<"3.8"
typing-extensions>=4.0;python_version<"3.8"
coverage # for testing purposes only
vowpalwabbit # optional
wheel # optional & needed for sklearn CI install
sklearn # optional
pandas # optional
matplotlib # optional
